fieldset {
  position: relative;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}

.hidden {
  display: none;
}

#passTarifReduit,
#pass1jourDate,
#pass2joursDate,
#nuitCamping,
#nuitCamion {
  display: none;
}
